<a href="https://colab.research.google.com/github/eodnsl41/abcd/blob/main/Class_prep_02_type_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
width = 10
height = 120
area = width + height
print (area)

130

In [3]:
x = int (input ('첫번째 정수:'))
y = int (input ('두번째 정수:'))
sum = x+ y
#diff = x-y
print ('합은', sum)

첫번째 정수:12
두번째 정수:23
합은 35

In [1]:
list1 = [12, 'dog', 180, 14]
list2 = [['seoul',10], ['paris', 12], ['london', 20]]
print (list1[0],'\t',list1[1],'\n',list1[2],'\t',type(list2))

12 	 dog
 180 	 <class 'list'>

In [6]:
capitals = {"Korea":"Seoul","USA":"Washington", "UK":"London"}
for key, value in capitals.items():
    print (key, ":", value)

Korea : Seoul
USA : Washington
UK : London

In [10]:
class Car:
    def __init__(self, speed, color, manufacturer):
        self.speed = speed
        self.color = color
        self.manufacturer = manufacturer

    def drive(self):
        self.speed = 120

myCar = Car(0, 'red', 'benz')

In [12]:
x,y = 1, 0
try : 
    z= x /y
except ZeroDivisionError:
    print("0으로 나누어 지지 않는 case")

0으로 나누어 지지 않는 case

In [14]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']